* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: swtitle;
  src: url(https://beumsk.github.io/Tutorials/font/SWCrawlTitle.ttf?raw=true) format('truetype');
}

@font-face {
  font-family: swbody;
  src: url(https://beumsk.github.io/Tutorials/font/SWCrawlBody.ttf?raw=true) format('truetype');
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: Arial;
  background: black;
}

.star {
	width: .25rem;
	height: .25rem;
	border-radius: 50%;
  opacity: .75;
	background-color: white;
  position: absolute;
  z-index: -1;
}

header {
  padding: 1rem;
  border-bottom: 2px solid #e5b13a;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  padding: 1.25rem;
  letter-spacing: 0.1em;
  color: #e5b13a;
}

.film {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  color: #e5b13a;
  font-family: swtitle, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.film:hover,
.film:focus {
  box-shadow: 0 0 0px 2px rgba(229,177,58,1) inset;
}

.film-title {
  font-size: 3rem;
}
