* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'News Cycle', sans-serif;
  min-height: 100vh;
  text-align: center;
  font-family: Arial;
  background: black;
}

.star {
	width: .25rem;
	height: .25rem;
	border-radius: 50%;
  opacity: .75;
	background-color: white;
  position: absolute;
  z-index: -1;
}

header {
  padding: 1rem;
  border-bottom: 2px solid #e5b13a;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  padding: 1.25rem;
  letter-spacing: 0.1em;
  color: #e5b13a;
}

.film {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  color: #e5b13a;
  font-family: swtitle, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.film:hover,
.film:focus {
  box-shadow: 0 0 0 .125rem #e5b13a inset;
}

.film-title {
  font-size: 2rem;
}

.crawl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: rgba(0,0,0,1);
  z-index: 1000;
  padding: 10px;
  color: #e5b13a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.crawl-title,
.crawl-text {
  max-width: 300px;
  text-align: justify;
}

.crawl-text--intro {
  color: #4bd5ee;
}

.crawl-title {
  font-family: swtitle, Arial;
}

.crawl-star {
  width: .25rem;
	height: .25rem;
	border-radius: 50%;
  opacity: .75;
	background-color: white;
  position: absolute;
  z-index: 1;
}

.crawl-text {
  font-family: swbody, Arial;
}

.no-scroll {
  overflow-y: hidden;
}
